/* Text colors */
$white-text-color: #ffffff;
$main-text-color: #000000;
$accent-text-color: #ff6b08;
$red-accent-color: #ff001b;
$footer-text-color: #545454;

/* Background colors */
$button-accent-bg-color: #ff6b01;
$footer-bg-color: #f7f7f7;

