    <footer class="footer">
        <div class="container">
        <ul class="footer__list">
        <li class="footer__el">
            <p class="footer__left-text"> © 2022 | All Rights Reserved | </p> 

        <li class="footer__el">
            <p class="footer__right-text">Developed with 
                <svg class="footer__img" width="14" height="13">
                    <use href="./images/sprite.svg#heart"></use>
                </svg>
                by <a class="footer__link">GoIT Students</a></p>
        </li>
        </ul>
        </div>
<div class="backdrop__students-modal hide" data-students-modal>
    <div class="modal">
        <button type="button" class="close-btn" data-students-modal-close>&#x2715</button>
        <p class="modal__title">Команда «18+»</p>
        <ul class="modal__team">
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/ser-m.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Сергій Міняйло</p> 
                <p class="modal__descr modal__descr--position">Team Leader</p>  
                </div> 
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/ox.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Оксана Щербатюк</p>
                <p class="modal__descr modal__descr--position">Scrum Master</p> 
                </div>   
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/yur.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Юрій Шевчик</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/rom.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Роман Мокрушин</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/ser-r.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Сергій Рип'юк</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/dia.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Діана Кондратчук</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/ol.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Олександр Слюсар</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/max.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Максим Бернацький</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/vad.jpg" alt="developer" loading="lazy">
                <div class="modal__descr-container">
                <p class="modal__descr">Вадим Маковій</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</footer>
