    <footer class="footer">
        <ul class="footer__list">
        <li class="footer__el">
            <p class="footer__left-text"> © 2020 | All Rights Reserved | Developed with</p>
        </li>
        <li class="footer__el"> 
        <svg  class="footer__img" width="14" height="13">
            <use href="./images/sprite.svg#heart"></use>
        </svg>
        </li>
        <li class="footer__el">
            <p class="footer__right-text">by <a class="footer__link">GoIT Students</a></p>
        </li>
        </ul>
<div class="backdrop is-hidden" data-students-modal>
    <div class="modal">
        <button type="button" class="close-btn" data-students-modal-close>x</button>
        <p class="modal__title">Команда «18+»</p>
        <ul class="modal__team">
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/rom.jpg" width="20" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Роман Мокрушин</p> 
                <p class="modal__descr modal__descr--position">Team Leader</p>  
                </div> 
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/img.png" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Оксана Щербатюк</p>
                <p class="modal__descr modal__descr--position">Scrum Master</p>    
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/img.png" width="10" height="10" src="./images/img.png" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Юрій Шевчик</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/ser-m.jpg" width="10" height="10" src="./images/img.png" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Сергій Міняйло</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/ser-r.png" width="10" height="10" src="./images/ser-r.png" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Сергій Рип'юк</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/dia.jpg" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Діана Кондратчук</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/img.png" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Олександр Слюсар</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/max.jpg" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Максим Бернацький</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
            <li class="modal__team-people">
                <img class="modal__team-img" src="./images/img.png" width="10" height="10"></img>
                <div class="modal__descr-container">
                <p class="modal__descr">Вадим Маковій</p>
                <p class="modal__descr modal__descr--position">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</footer>
