<header class="header" id="header">
  <div class="header__home">
    <div class="container">
      <div class="header__container">
        <a class="header__logo" id="button__logo">
          <div class="header__icon">
            <!-- <svg class="header__icon header__icon--top" width="24" height="24">
              <use class="" href="./images/film.svg"></use>
            </svg> -->
            <img src="images/film.svg" alt="" />
            <!-- <svg
              class="header__icon header__icon--bottom"
              width="24"
              height="24"
            >
              <use class="" href="./images/film.svg"></use>
            </svg> -->
          </div>
          <h1 class="header__logo--text">Filmoteka</h1>
        </a>
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <button
                class="navigation__button--home navigation__button--current"
                id="button__home"
              >
                HOME
              </button>
            </li>
            <li class="navigation__item private-route hide">
              <button class="navigation__button--library" id="button__library">
                MY LIBRARY
              </button>
            </li>
          </ul>
        </nav>
				   <button id="logIn" class="auth" auth="show-log-in-form">Log in</button>

      <button id="signUp" class="auth private-route" auth="show-sign-in-form">
        Sign up
      </button>
      </div>
      <form class="search__form" id="search-form">
        <div class="search-form_wrapper">
          <input
            class="search__form--input"
            type="text"
            name="search"
            id="searchQuery"
            placeholder="Movie search"
            autocomplete="off"
          />
        </div>
        <ul
          class="search-form-list"
          id="search-list"
          data-action="current"
        ></ul>
        <button type="submit" class="search__form--button">
          <!-- <svg width="12" height="12"> -->
            <img src="images/2search.svg"></img>
          <!-- </svg> -->
        </button>
      </form>
      <ul class="library__btn-list private-route hide">
        <li class="btn-list__item">
          <button
            type="button"
            class="btn__watched btn__library--active"
            id="btn__watched"
          >
            WATCHED
          </button>
        </li>
        <li class="btn-list__item">
          <button type="button" class="btn__queue" id="btn__queue">
            QUEUE
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
