.auth-modal {
  @include position($pos: fixed, $t: 0, $l: 0);
  z-index: 1;

  height: 100%;
  width: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);

  // transition: opacity $transition;

  &__body {
    transform: translate(-50%, -50%) scale(1);
    @include position($t: 50%, $l: 50%);
    // @include font();

    padding: 40px;

    text-align: center;
    color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--transition) 200ms;
    /*
    @media screen and (min-width: 320px) {
      max-width: 450px;
      width: calc(100% - 30px);

      background: url(images/header-library-mobile-min.jpg), rgba(0, 0, 0, 0.7);
      background-size: cover;
    }

    @media screen and (min-width: 768px) {
      max-width: 450px;
      width: 100%;

      background: url(images/header-library-tablet-min.jpg), rgba(0, 0, 0, 0.7);
      background-size: cover;
    }

    @media screen and (min-width: 1200px) {
      max-width: 530px;
      width: 100%;

      background: url(images/header-library-desktop-min.jpg), rgba(0, 0, 0, 0.7);
      background-size: cover;
    }
    */

    @include mobile {
      max-width: 450px;
      width: calc(100% - 30px);

      background: url(images/header-library-mobile-min.jpg), rgba(0, 0, 0, 0.7);
      background-size: cover;
    }

    @include tablet {
      max-width: 450px;
      width: 100%;

      background: url(images/header-library-tablet-min.jpg), rgba(0, 0, 0, 0.7);
      background-size: cover;
    }

    @include desktop {
      max-width: 530px;
      width: 100%;

      background: url(images/header-library-desktop-min.jpg), rgba(0, 0, 0, 0.7);
      background-size: cover;
    }
  }

  &.hide &__body {
    transform: translate(-50%, -50%) scale(0);
  }

  #auth-close {
    position: absolute;
    top: 10;
    right: 10;

    padding: 0;
    border: none;

    background-color: transparent;

    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.auth-form {
  &__title {
    margin-bottom: 10px;

    @include mobile {
      @include font(500, 15px, 1.1666, 0.03em);
    }

    @include tablet {
      @include font(500, 20px, 1.1666, 0.03em);
    }

    @include desktop {
      @include font(500, 20px, 1.1666, 0.03em);
    }
  }

  &__input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;

    background-color: transparent;

    color: currentColor;

    &#email {
      margin-bottom: 20px;
    }
  }

  &__button {
    margin-top: 15px;
  }
}
