.auth-modal {
  @include position($pos: fixed, $t: 0, $l: 0);
  z-index: 1;

  height: 100%;
  width: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);

  // transition: opacity $transition;

  &__body {
    position: relative;
    // background-color: #fefefe;

    border: 1px solid #888;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    transform: translate(-50%, -50%) scale(1);
    @include position($t: 50%, $l: 50%);
    // @include font();

    padding: 40px;

    text-align: center;
    color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--transition) 200ms;
    max-width: 450px;
    width: calc(100% - 30px);

    background-image: url(images/header-library-mobile-min.jpg);
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.4);
    }
    // background-color: rgba(0, 0, 0, 0.7);

    @include tablet {
      max-width: 450px;
      width: 100%;

      background-image: url(images/header-library-tablet-min.jpg);
    }

    @include desktop {
      max-width: 530px;
      width: 100%;

      background-image: url(images/header-library-desktop-min.jpg);
    }
    // align-items: center;
  }
  .form-control {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 4px;
    width: 100%;
    &__label {
      display: block;
      margin-bottom: 4px;
    }
    &__input {
      width: 100%;
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      padding: 10px;
      font-size: 14px;
    }
    &__error-message {
      position: absolute;
      visibility: hidden;
      color: $red-accent-color;
      bottom: 0;
      left: 0;
    }

    &.error {
      &:last-of-type {
        margin-bottom: 20px;
      }
      .form-control__error-message {
        visibility: visible;
      }
    }
  }

  #auth-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 19px;
    // line-height: 20px;
    // font-weight: bold;
    padding: 0;
    padding-left: 1px;
    padding-top: 0.5px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.auth-form {
  &__title {
    margin-bottom: 10px;

    @include mobile {
      @include font(500, 15px, 1.1666, 0.03em);
    }

    @include tablet {
      @include font(500, 20px, 1.1666, 0.03em);
    }

    @include desktop {
      @include font(500, 20px, 1.1666, 0.03em);
    }
  }

  &__input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;

    background-color: transparent;

    color: currentColor;

    &#email {
      margin-bottom: 20px;
    }
  }

  &__button {
    margin-top: 15px;
  }
}
