.auth-modal {
  @include position($pos: fixed, $t: 0, $l: 0);
  z-index: 1;
  padding: 20px;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  transition: opacity var(--transition);

  &__body {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;

    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition) 1000ms;
    @include position($t: 50%, $l: 50%);

    @include tablet {
      max-width: 450px;
      width: 100%;
    }
    @include desktop {
      max-width: 530px;
      width: 100%;
    }

    .auth-modal.hide {
      transform: translate(-50%, -50%) scale(0);
    }
  }

  .form-control {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 4px;
    width: 100%;

    &__label {
      display: block;
      margin-bottom: 4px;
    }
    &__input {
      width: 100%;
      border-radius: 5px;
      display: block;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #000000;

      background-color: transparent;
      // &[type='file'] {
      //   opacity: 0;
      //   padding: 0;
      // }
    }
    &.input-file {
      display: flex;
      gap: 8px;
      .form-control__file {
        flex-grow: 1;
      }
      // @extend .form-control__input;
      .form-control__input {
        padding: 6px 40px 6px 10px;
        cursor: pointer;
        &::file-selector-button {
          position: absolute;
          visibility: hidden;
        }
        &::before {
          margin-right: 48px;
          content: 'Add avatar';
          display: inline-block;
          color: $accent-text-color;
          border: 1px solid $accent-text-color;
          border-radius: 5px;
          padding: 4px 6px;
          outline: none;
          // overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          user-select: none;
          -webkit-user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 700;
          font-size: 10pt;
        }
        &:hover::before {
          border-color: black;
        }
        &:active::before {
          background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
      }
    }
    &.error {
      .form-control__input {
        border-color: $red-accent-color;
      }
    }
    &__error-message {
      // position: absolute;
      visibility: hidden;
      color: $red-accent-color;
      bottom: 0;
      left: 0;
    }

    &.error {
      &:last-of-type {
        margin-bottom: 20px;
      }
      .form-control__error-message {
        visibility: visible;
      }
    }
  }

  #auth-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 19px;

    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    &:hover,
    &:focus {
      border-color: $accent-text-color;
      color: $accent-text-color;
      text-decoration: none;
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.auth-form {
  &__remove-file-button {
    transform: scale(1);
    // @include flex-centred($d: flex, $ai: center, $jc: center);

    padding: 0;

    background: inherit;
    border: none;
    transition: fill $transition-basic, transform $transition-basic;

    &:hover,
    &:focus {
      color: $button-accent-bg-color;
      transform: scale(1.05);
    }
  }
  &__title {
    margin-bottom: 10px;
    @include font(500, 15px, 1.1666, 0.03em);

    @include tablet {
      @include font(500, 20px, 1.1666, 0.03em);
    }

    @include desktop {
      @include font(500, 20px, 1.1666, 0.03em);
    }
  }

  &__button {
    border: 1px solid #000000;
    color: black;
  }
}
