.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  grid-gap: 16px;
  padding: 0;
  margin: 60px auto 0;
  list-style: none;
  max-width: 1200px;
}
.movie {
  &__img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-height: 329px;
    height: -webkit-fill-available;
    max-height: 300px;
  }
  &__title {
    margin: 0;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@include tablet {
  .movie-list {
      grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
  }
}
@include desktop {
  .movie-list {
      grid-template-columns: repeat(auto-fit, minmax(389px, 389px));
  }
}