.movie-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 60px;
  list-style: none;
}

.movie-card {
  // padding: 6px;
  min-height: 420px;
  border-radius: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;

  &:hover {
    box-shadow: 0px 0px 30px -17px rgba(255, 107, 1, 1),
      inset 0px 0px 24px -9px rgba(84, 84, 84, 0.5);
    transform: scale(1.02);
    cursor: pointer;
  }
  &__img {
    flex-grow: 1;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $main-text-color;

    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__details {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $accent-text-color;
  }
  &__genres {
    flex-shrink: 2;
  }
  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9px;

    font-size: 12px;
    line-height: 1.17;
    color: $white-text-color;

    width: 36px;
    height: 16px;
    background-color: $button-accent-bg-color;
    border-radius: 5px;
  }
}

@include tablet {
  .movie-list {
    gap: 32px;
  }
  .movie-card {
    width: 336px;
  }
}
@include desktop {
  .movie-list {
    gap: 16px;
  }
  .movie-card {
    width: 394px;
    &__title {
      font-size: 20px;
      line-height: 1.2;
    }
    &__details {
      font-size: 20px;
      line-height: 1.2;
    }
    &__rating {
      width: 40px;
      height: 20px;
    }
    &__details {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
